@font-face {
  font-family: 'gilroylight';
  src: local('Gilroy Light'),
    local('Gilroy-Light'),
    url('../fonts/gilroylight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'gilroyextrabold';
  src: local('Gilroy ExtraBold'),
    local('Gilroy-ExtraBold'),
    url('../fonts/gilroyextrabold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  font: inherit;
  color: #000000;
  text-decoration: none;
}

.header {
  padding-top: 16px;
  background-image: linear-gradient(to bottom, #ffffff 40px, #f7e296 40px, #f7e296 80%);
}

.user-menu__list,
.catalog__list {
  list-style: none
}

.logo {
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
}

.logo--black {
  padding-left: 58px;
  color: #000000;
}

.inner-page .logo--black:hover {
  color: rgba(0, 0, 0, 0.6);
}

.inner-page .logo--black:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog__title:hover,
.conditions__item a:hover,
.catalog__item a:hover,
.product__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog__title:active,
.conditions__item a:active,
.catalog__item a:active,
.product__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__top {
  display: flex;
  justify-content;
  margin: 0;
  margin-top: 1px;
  margin-bottom: 3px;
  margin-left: 60px;

  padding: 0;
}

.search-form {
  display: flex;
  position: relative;
  width: 600px;
}

.search-form__input {
  width: 355px;
  height: 48px;
  margin-top: 8px;
  padding-left: 39px;

}

.search-form__input:focus {
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
}

.search-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);

}

.search-form__input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-form__input:focus::placeholder {
  color: transparent;
}

.search-form__input:focus {
  color: #000000;
}

.search-form__input::-ms-clear {
   display: none;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
}

.search-form__btn {
  height: 48px;
  margin-top: 15px;
  border: 1px solid #000000;
}

.user-menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 565px;
  margin-right: 60px;
  justify-content: space-between;
}

.user-menu__item a {
  position: relative;
  text-align: left;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

.user-menu__item--user {
  width: 270px;
  padding-left: 11px;
  text-align: left;
}

.user-menu__item--compare  {
  padding-right: 50px;
}

.user-menu__item--cart  {
  text-align: left;
  margin-right: -3px;
}

.user-menu__item a::before {
  content: "";
  position: absolute;
}

.user-menu__item--user a::before {
  top: 4px;
  left: -26px;
  width: 13px;
  height: 12px;
  background-image: url(../img/user-black.svg);
  background-repeat: no-repeat;
}

.user-menu__item--compare a::before {
  top: 6px;
  left: -20px;
  width: 10px;
  height: 10px;
  background-image: url(../img/compare-black.svg);
  background-repeat: no-repeat;
}

.user-menu__item--cart a::before {
  top: 4px;
  left: -22px;
  width: 12px;
  height: 12px;
  background-image: url(../img/cart-black.svg);
  background-repeat: no-repeat;
}

.user-menu__item--nonactive a {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__item:hover a {
  color: rgba(0, 0, 0, 0.6);
}

.user-menu__item:hover a::before {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.user-menu__item:active a {
  color: rgba(0, 0, 0, 0.3);
}

.user-menu__item:active a::before {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.search-form__input,
.search-form__btn {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);

  background-color: #f7e296;
  border: none;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 60px;
  margin-right: 60px;
  padding: 0;
  padding-bottom: 13px;
}

.catalog__title {
  position: relative;
  cursor: pointer;
  margin-right: 0;
  height: 45px;
  width: 250px;

  font: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.catalog__title::before,
.catalog__title::after  {
  content: "";
  position: absolute;
  top: 10px;
  left: 222px;
  width: 17px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog__title::after {
  transform: rotate(90deg);
}

.catalog__item a {
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  font-family: "gilroylight", Arial, sans-serif;
  color: #000000;
}

.catalog__dropdown {
  display: flex;
  overflow: hidden;
  width: 670px;
  max-height: 0;
  padding: 0;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;

  list-style: none;
}

.catalog:hover .catalog__dropdown {
  min-height: 150px;
}

.catalog__dropdown--part {
  width: 33%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.conditions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 525px;
  list-style: none;
}

.conditions__item a {
  font: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.popular__slider {
  position: relative;
}

.popular__controls {
  position: absolute;
  bottom: 120px;
  right: 65px;
  z-index: 20;

  font-size: 0;
}

.popular__controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 20px;

  vertical-align: top;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.popular__controls label::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;

  width: 2px;
  height: 2px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
}

.popular__list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular__item {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 60px;
  background-image: linear-gradient(to bottom,  #f7e296 113px, #ffffff 113px,  #ffffff 80%);
}

.slide {
  display: none;
}

#product-1:checked ~ .popular__slider #slide1,
#product-2:checked ~ .popular__slider #slide2,
#product-3:checked ~ .popular__slider #slide3 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 60px;
  background-image: linear-gradient(to bottom,  #f7e296 113px, #ffffff 113px,  #ffffff 80%);
}

/* #product-1:checked ~ .popular__slider label:before[for="product-1"],
#product-2:checked ~ .popular__slider label:before[for="product-2"],
#product-3:checked ~ .popular__slider label:before[for="product-3"] {
  content: "";

  position: absolute;
  top: 4px;
  left: 4px;
  z-index: 1;

  width: 2px;
  height: 2px;

  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
} */

.popular__description {
  width: 580px;
}

.popular__number {
  position: absolute;
  top: -15px;
  right: 47px;
  font-size: 180px;
  line-height: 180px;
  color: #ffffff;
}

.popular__img {
  padding-left: 30px;
}

.popular__item--quadrocopter .popular__img {
  padding: 0;
}

.popular__description {
  position: relative;
  margin-top: 35px;
  margin-left: 125px;
}

.popular__item--quadrocopter .popular__description {
  margin-left: 0;
}

.popular__description::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.popular__title {
  width: 580px;
  font-size: 47px;
  line-height: 56px;
}

.popular__text {
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.btn a,
.btn {
  padding: 10px 45px;
  font: inherit;
  letter-spacing: 3px;
  text-transform: uppercase;

  background-image: linear-gradient(to bottom, transparent 40%,#f0c52e 40%, #f0c52e 60%, transparent 60%);
}

.btn a:hover,
.btn:hover {
  background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 100%);
}

.btn a:active,
.btn:active {
  background-color: #ffc600;
  color: rgba(0, 0, 0, 0.3);
}

.table__header {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-top: 57px;
}

.table__row {
  display: inline-flex;
  flex-direction: column;
  width: 155px;
}


.table__cell {
  order: -1;
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  font-family: "gilroylight", Arial, sans-serif;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 245px;
  list-style: none;
}

.product__item a {
  position: relative;
  margin-right: 20px;
}

.product__item a::before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.product__item--reality a::before {
  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
  background-position: 30px 50px;
}

.product__item--monopode a::before {
  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
  background-position: 35px 50px;
}

.product__item--camera a::before {
  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
  background-position: 45px 40px;
}

.product__item--bracelet a::before {
  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
  background-position: 30px 50px;
}

.product__item--watch a::before {
  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
  background-position: 50px 25px;
}

.product__item--quadrocopter a::before {
  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
  background-position: 15px 50px;
}

.product__item a:hover::before {
  background-color: #f0c52e;
}

.product__item a:active::before{
  opacity: 0.2;
  filter: alpha(opacity=40);
}

.product__title {
  width: 160px;
  margin-top: 230px;
  font: inherit;
}

.formalities {
  position:relative;
  background-image: linear-gradient(#ffffff 170px, #e5e5e5 170px, #e5e5e5 100%);
}

.formalities__slider {
  position: relative;
  display: flex;
  padding-top: 150px;
  padding-bottom: 150px;
}

.formalities__slider::after {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 277px;
  width: 7px;
  height: 255px;
  background-color: #000000;
}

.formalities__btn {
  position: relative;
  display: block;
  width: 120px;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: left;
  background-image: linear-gradient(to bottom, transparent 40%,#f0c52e 40%, #f0c52e 60%, transparent 60%);
  transition: width, 0.2s ease-in;
}

.formalities__btn:active {
  text-align: left;
  color: #f7e184;
  background-image: linear-gradient(to bottom, #000000 0%, #000000 100%);
  width: 180px;
}

.formalities__list {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /* padding-top: 75px; */
  margin-left: 245px;
  width: 550px;
  list-style: none;
}

.formalities__item {
  position: relative;
  display: none;
}

.formalities__item:nth-child(1) {
  position: relative;
  display: block;
}

.formalities__title {
  margin: 0;
  padding: 0;
  max-width: 460px;
  font-size: 47px;
  line-height: 48px;
}

.formalities__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.formalities__item--delivery::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 550px;
  z-index: 1;
  width: 136px;
  height: 164px;
  background-image: url(../img/formalities-delivery.svg);
  background-repeat: no-repeat;
}

.formalities__item--guarantee::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 550px;
  width: 171px;
  height: 195px;
  background-image: url(../img/formalities-guarantee.svg);
  background-repeat: no-repeat;
}

.formalities__item--credit::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 550px;
  width: 16px;
  height: 188px;
  background-image: url(../img/formalities-credit.svg);
  background-repeat: no-repeat;
}

.brands__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  padding-bottom: 100px;
  list-style: none;
}

.brands__item {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.2;
  filter: alpha(opacity=20);
 }

 .brands__item:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1.0;
  filter: alpha(opacity=100);
 }

.main__bottom {
  display: flex;
  margin-bottom: 85px;
}

.about-us {
  position: relative;
}

.about-us::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.contacts {
  position: relative;
}

.contacts::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us__title,
.contacts__title {
  font-size: 47px;
  line-height: 48px;
}

.contact__btn,
.about-us__btn {
  border: none;
  background-color: #ffffff;
}

.about-us__text,
.contacts__text {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.about-us__text {
  padding-bottom: 25px;
}

.about-us__text:last-child {
  padding: 0;
}

.partners__list {
  list-style: none;
  margin: 0;
  margin-top: 75px;
  margin-bottom: 75px;
  padding: 0;
  padding-left: 40px;
}

.partners__item {
  position: relative;
  margin-bottom: 20px;
}

.partners__item::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -40px;
  width: 8px;
  height: 8px;

  background-color: transparent;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts__text {
  margin-bottom: 45px;
}

.contacts__map  img{
  width: 560px;
  height: 220px;

  margin-bottom: 115px;
}

.modal__contact {
  display: flex;
  flex-direction: column;
  width: 963px;
  margin: 100px;
  padding: 0;
}

.modal-contact__form {
  flex-wrap: wrap;
  width: 760px;
}

.modal-contact__form input {
  width: 360px;
}

.modal-contact__form textarea {
  width: 760px;
}


/* .modal__map {
  margin: 0 auto;
  padding: 0;
  width: 965px;
  min-height: 215px;
  background-image: url(../img/map--big.jpg)
} */

.modal__close {
  width: 22px;
  height: 22px;

  font-size: 0;

  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #ffc600;
}

.modal__close::before {
  transform: rotate(45deg);
}

.modal__close::after {
  transform: rotate(-45deg);
}

.modal-contact__form input[id="user-name"],
.modal-contact__form input[id="user-email"],
.modal-contact__form textarea {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}

.modal-contact__btn {
  border: none;
  background-color: #ffffff;
}

.inner-page__title {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  font-family: "gilroyextrabold", Arial, sans-serif;
  color: #000000;
}

.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 50px;

  padding: 0;
  list-style: none;
}

.breadcrumbs__item a,
.breadcrumbs__item {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs__item {
  position: relative;
  margin-right: 15px;
}

.breadcrumbs__item:first-child::before,
.breadcrumbs__item:first-child::after {
  content: "";
  position: absolute;

  width: 5px;
  height: 1px;
  background-color: #464646;
}

.breadcrumbs__item:first-child::before {
  left: 60px;
  top: 11px;
  transform: rotate(30deg);
}

.breadcrumbs__item:first-child::after {
  left: 60px;
  top: 13px;
  transform: rotate(-30deg);
}

.breadcrumbs__item:nth-child(2)::before,
.breadcrumbs__item:nth-child(2)::after {
  content: "";
  position: absolute;

  width: 5px;
  height: 1px;
  background-color: #464646;
}

.breadcrumbs__item:nth-child(2)::before {
  left: 118px;
  top: 11px;
  transform: rotate(30deg);
}

.breadcrumbs__item:nth-child(2)::after {
  left: 118px;
  top: 13px;
  transform: rotate(-30deg);
 }

.content {
  display: flex;
  justify-content: space-between;
}

.filter {
  flex: 1;
  background-color: #efefef;
}

.content__right {
  flex: 2;
}

.filter__title {
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  text-transform: uppercase;

  text-align: center;
  background-color: #d9d9d9;
}

.filter__form {
  width: 198px;
  margin: 0;
  margin-left: 61px;
  margin-top: 80px;
  padding: 0;
  padding-left: 100px;
}


.range {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;

  width: 300px;
}

.range::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 195px;
  background-color: #000000;
}

.range__title {
  margin-bottom: 20px;
}

.range__cell {
  /* position: relative; */
  height: 35px;
  font-size: 0;
}

.range__cell label {
  display: inline-block;
  vertical-align: top;
  width: 45%;

  cursor: pointer;
}

.range__cell input {
  background-color: #eeeeee;
  border: none;
}

.range__controls {
  position: relative;
  margin-bottom: 30px;
}

.range__scale {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
}

.range__bar {
  width: 50%;
  height: 2px;

  background-color: #91c92f;
}

.range__toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.range-toggle__min {
  left: 0;
}

.range-toggle__max {
  left: 50%;
}

.checkbox {
  position: relative;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 195px;
  background-color: #000000;
}

.checkbox__container {
  display: flex;
}

.checkbox__container fieldset {
  display: flex;
  flex-direction: column;

  border: none;
}

.checkbox__legend {
  margin-bottom: px;
}

.checkbox__field {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  cursor: pointer;
}

.checkbox__field input[type="checkbox"] + .checkbox__indication {
  position: absolute;
  top: -2px;
  left: 0;

  width: 19px;
  height: 19px;

  border: 2px solid #000000;
  border-radius: 4px;
}

.checkbox__field input[type="checkbox"]:focus + .checkbox__indication {
  border: 2px solid rgba(0, 0, 0, 0.6)
}

.checkbox__field input[type="checkbox"]:disabled + .checkbox__indication {
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2)
}

.checkbox__field input[type="checkbox"]:checked + .checkbox__indication {
  width: 27px;
  height: 37px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 7% 55%;
  border: none;
}

.checkbox__field input[type="checkbox"]:disabled:checked + .checkbox__indication {
  width: 27px;
  height: 37px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 7% 55%;
  border: none;

  filter: grayscale(100%);
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.radio {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 195px;
  background-color: #000000;
}

.radio fieldset {
  display: flex;
  flex-direction: column;
  width: 170px;

  border: none;
}

.radio__field {
  position: relative;
  display: inline-block;
  vertical-align: top;

  padding-left: 40px;

  cursor: pointer;
}

.radio__field input[type="radio"] + .radio__button {
  position: absolute;
  top: 2px;
  left: 0px;

  width: 20px;
  height: 20px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.radio__button {
  position: relative;
}

.radio__field input[type="radio"]:checked + .radio__button::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 2px;
  height: 2px;

  background-color: #000000;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter__btn {
  border: none;
  background-color: #efefef;
}

.range-cell__min-price,
.range-cell__max-price,
.checkbox__field,
.radio__field {
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 72px;
  background-color: #efefef;
}

.sort__title {
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort__item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
}

.sort__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort__item a:active {
  color: rgba(0, 0, 0, 1);
}

.sort__item--active a {
  color: rgba(0, 0, 0, 1);
}

.sort-btn__list {
  width: 90px;
  margin: 0;
  margin-right: 90px;
  padding: 0;
  list-style: none;
}

.sort-btn__icon {
  display: inline-block;
  width: 0;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #fff;
  background-color: #efefef;
  border: 1px solid red;
 }

 .sort-btn__icon--up::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 5px;

  border: 7px solid transparent;
  border-bottom: 12px solid #d3d2d2;
 }

 .sort-btn__icon--down::before {
  content: '';
  position: absolute;
  left: 10px;
  bottom: 0;

  border: 7px solid transparent;
  border-top: 12px solid #d3d2d2;
 }

 .sort-btn__icon--up:hover::before {
  border-bottom: 12px solid #a7a5a6;
 }

 .sort-btn__icon--down:hover::before {
  border-top: 12px solid #a7a5a6;
 }

 .sort-btn__icon--up:active::before {
  border-bottom: 12px solid #000000;
 }

 .sort-btn__icon--active::before,
 .sort-btn__icon--down:active::before  {
  border-top: 12px solid #000000;
 }



.category {
  width: 833px;
}

.category__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 70px;
  margin-bottom: 40px;
  margin-left: 72px;
  padding: 0;

  list-style: none;
}

.category__item {
  position: relative;
  width: 360px;
  margin: 0;
  margin-bottom: 50px;
}

.category__hover-block {
  position: relative;
}

.category__btn {
  position: absolute;
  top: 0px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  width: 360px;
  height: 380px;
}

.category__hover-block:hover  {
  cursor: pointer;
}

.category__hover-block:hover .category__btn{
  top: 0;
  opacity: 1;
  background: rgba(238, 238, 238, 0.7);
}

.category-basket__btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-compare__btn {
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

.category-compare__btn:hover {
  color: rgba(0, 0, 0, 1);
}

.category-compare__btn:active {
  color: rgba(0, 0, 0, 0.2);
}

.category__item:nth-child(2) .category__title{
  width:220px;
  margin-right: 50px;
}

.category__item:last-child::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 280px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.category__item:last-child::after {
  content: "NEW";
  position: absolute;
  top: 55px;
  left: 290px;
  font-size: 14px;
  line-height: 24px;
  font-family: "golroyextrabold", Arial, sans-serif;
  color: rgba(0, 0, 0, 0.2);
}

.category__title {
  display: inline-block;
  width: 260px;
}

.category__price {
  display: inline-block;
  width: 80px;
  margin: 0;
  padding: 0;
  vertical-align: top;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  font-family: "gilroylight", Arial, sans-serif;
  color: #464646;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin: 0;
  margin-left: 72px;
  margin-bottom: 76px;
  padding: 0;
  background-color: #ebebeb;
}

.pagination__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination__item {
  padding: 25px 0;
}

.pagination__item a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination__item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__item a:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__item--current a {
  color: #000000;
}

.pagination__prev,
.pagination__next {
  width: 124px;
  text-transform: uppercase;
  color: #000000;
}

.pagination__prev {
  text-align: center
}
.pagination__next {
  text-align: center;
}

.pagination__next:hover,
.pagination__prev:hover {
  background-color: #d9d9d9;
}

.pagination__next:active,
.pagination__prev:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}

.footer {
  background-color: #464646;
  border: 0.1px solid transparent;
  padding-top: 55px;
  padding-bottom: 65px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.logo--orange {
  color: #ffc600;
}

.inner-page .logo--orange:hover {
  color: rgba(255, 198, 0, 0.6);
}

.inner-page .logo--orange:active {
  color: rgba(255, 198, 0, 0.3);
}

.footer .user-menu__list {
  flex-wrap: wrap;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.user-menu__item--light {
  width: 160px;
  text-align: right;
}

.user-menu__item--light a {
  position: relative;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
.user-menu__item--light--user a::before {
  width: 13px;
  height: 12px;
  background-image: url(../img/user-orange.svg);
  background-repeat: no-repeat;
}

.user-menu__item--light--compare a::before {
  width: 10px;
  height: 10px;
  background-image: url(../img/compare-orange.svg);
  background-repeat: no-repeat;
}
.user-menu__item--light--cart a::before {
  width: 12px;
  height: 12px;
  background-image: url(../img/cart-orange.svg);
  background-repeat: no-repeat;
}

.user-menu__item--nonactive-footer a {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu__item--light:hover a {
  color: rgba(255, 255, 255, 1);
}

.user-menu__item--light:active a {
  color: rgba(255, 255, 255, 0.3);
}

.footer__middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.company__adress,
.company__number {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.footer .conditions__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 440px;
  margin: 0;
  padding: 0;
}

.conditions__item--light a {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
}

.conditions__item--light a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.conditions__item--light a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.decor-element {
  position: relative;
}

.decor-element::before {
  content: "";
  position: absolute;
  left: 0;
  height: 4px;
  width: 80px;
  background-color: #ffc600;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social__list a {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  color: #ffffff;
}

.social__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  filter: grayscale(80%);
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.social__btn:hover {
  filter: grayscale(80%);
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.social__btn:active {
  filter: grayscale(80%);
  opacity: 0.1;
  filter: alpha(opacity=10);
}

.social__btn--fb {
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.social__btn--insta {
  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
}

.social__btn--tw {
  background-image: url(../img/tw.svg);
  background-repeat: no-repeat;
}

.social__copyright {
  background-image: url(../img/logo-academy-orange.svg);
  background-repeat: no-repeat;
  background-size: 27px 34px;
}
